$ff: black;
$gg: rgb(243, 3, 3);
$dd: rgb(252, 252, 9);
$ss: rgb(10, 238, 10);


body{
    background-color: blue;
}

@mixin bucle {
    .nav-bar{
        background-color: red;
        grid-area: nav-bar;
        .nav-ul{ 
            display: flex;
            justify-content: space-around;
            .link2{
                list-style-type: none;
            }
            a{
                text-decoration: none;
                color: white;
                &hover{
                    color: black; 
                }

            }
          }
      }

    
    
}

@import "header";

@import "section";

@import "footer";

 /*responsive index.html*/

 @media screen and (max-width: 400px){

    .header-container{
        display: grid;
        max-width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: (3, 1fr);
        grid-template-areas: 
        "h1" "logo" "navbar";
    }
  
  
    .h1{
        grid-area: h1;
        display: flex;
        justify-content: center center;
        background-color: black;
        width: 100%;
    }
  
  
    .logo1{
        grid-area: logo;
        display: flex;
        justify-content: center;
    }
  
    .navbar1{
        display: flex;
        justify-content: start;
  
    }
  
    .navbar1 li {
        grid-area: navbar;
        display: flex;
        justify-content: space-around;        
    }
  
    .nav1{
        display: flex;
        flex-direction: column;
        justify-content: start;
  
    }
  
    .footer-container{
        display: grid;
        grid-template-columns: 100%;
    }
  
    .style{
        display: flex;
        flex-direction: column;
        background-color: green;
        color: yellow;
    }
  
  }
  
  /*responsive index.html tablet*/
  
  @media screen and (min-width: 401px) and (max-width: 768px){
  
    .header-container{
        display: grid;
        max-width: 100%;
        grid-template-columns: auto;
        grid-template-rows: (2, 1fr);
        grid-template-areas: 
        "navbar . logo"
        "h1 h1 h1"
        ;
    }
  
  
    .h1{
        grid-area: h1;
        display: flex;
        justify-content: center center;
        background-color: black;
        width: 100%;
    }
  
  
    .logo1{
        grid-area: logo;
        display: flex;
        justify-content: end;
        transition: height 2s, width 2s, transform 2s;
        &:hover{
            transform: rotate(1440deg);
             }
    }
  
    .navbar1{
        display: flex;
        justify-content: start;
  
    }
  
    .navbar1 li {
        grid-area: navbar;
        display: flex;
        justify-content: space-around;        
    }
  
    .nav1{
        display: flex;
        flex-direction: column;
        justify-content: start;
  
    }
  
    .footer-container{
        display: grid;
        grid-template-columns: 100%;
    }
  
    .style{
        display: flex;
        flex-direction: column;
        background-color: green;
        color: yellow;
    }
  
  }




/*scss estilos inventory.html*/

header{
    @include bucle
}

section{
    .ol-a{
        background-color: $ff;
        .itens{
            color: white;
        }
    }

    h2{
        display: flex;
        justify-content: center;
        background: linear-gradient($gg, $dd, $ss);
        padding: 10px;
        border: solid 5px;
    }
    p{
        display: flex;
        justify-content: start;
        color: white;
    }
}

footer{
    .redes{
        display: flex;
        justify-content: space-around;
        background-color: $ff;
        a{
            color: white;
            text-decoration: none;
        }
        
        
    }
}

/*scss estilos marketplace.html*/

header{
    @include bucle
}

section{
    h1{
        background-color: $ff;
        color: $gg;
        display: flex;
        justify-content: center;
    }
      p{
        display: flex;
        justify-content: start;
        color: white;
    }
    li{
        list-style-type: none;
        padding: 30px;
    }
    a{
        color: white;
        text-decoration: none;
    }

}

/*estilo tokenomics.html*/


    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
        "nav-bar nav-bar";}
          
  .divi{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "li img img ."
    "table img img ."
    ;
  }      

    
  .ul-li{
    grid-area: li;  
    color: white;
    list-style-type: none;
  }
  
  .imgt{
    grid-area: img;
  }
  
  .table{
    grid-area: table;
    display: flex;
    width: 75%;
    border-collapse: collapse; 
  
  }

  th, td{
    border: solid 1px black;
    padding: 0;
    background: radial-gradient(white, red);
   
}

  
  .redes a{
    color: white;
   
  }

  img{
    display: flex;
    width: 100%;
}

  
/*responsive de tokenomics.html*/
/*el responsive tambien afecta a inventory.html y marketplace.html*/

@media screen and (max-width: 400px){

    .container{
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr); 
        grid-template-areas:
        "nav-bar nav-bar"
        ;
    }
    
    .nav-ul{
        display: flex;
        flex-direction: column;
        justify-content: start;
    
    }
    
    
    .divi{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "li li ."
        "img img ."
        "table table ."
        ;
    }
    
    
    .imgt{
        margin: 0px 0px 30px 0px;

        
    }

    img{
        display: flex;
        width: 100%;
    }
    
    }

    /*responsive tokenomics.html tablet*/

@media screen and (min-width: 401px) and (max-width: 768px){

    .container{
        display: grid;
        max-width: 100%;
        grid-template-columns: auto;
        grid-template-rows: repeat(1, 1fr); 
        grid-template-areas:
        "nav-bar"
        ;
    }
    
    
    .divi{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "li . table ."
        "img img . ."
        ;
    }

    img{
        display: flex;
        width: 100%;
    }

}

  

  
  
  
 
  
  
 
  
  
  

